<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <h1>Basketball Signup</h1>
     <h2>Name</h2>  <input id="name" type="text" name="name"></input><br>
     <h2>Coach</h2>  <input id="coach" type="text" name="coach"></input><br>
     <h2>Point Guard</h2>  <input id="pg" type="text" name="pg"><br>
     <h2>Shooting Guard</h2>  <input id="sg" type="text" name="sg"><br>
     <h2>Small Forward</h2>  <input id="sf" type="text" name="sf"><br>
     <h2>Power Forward</h2>  <input id="pf" type="text" name="pf"><br>
     <h2>Center</h2>  <input id="c" type="text" name="c"><br>
     <button id="Submit" type="submit" value="Submit">Submit</button>

   </form>
 </body>
</html>
